<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rom471.lab1">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name="com.rom471.main.ResetPasswordActivity" />
        <activity android:name="com.rom471.main.RegisterActivity" />
        <activity android:name="com.rom471.main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- &lt;!&ndash;                <action android:name="android.intent.action.SEND"/>&ndash;&gt; -->
                <!-- &lt;!&ndash;                <category android:name="android.intent.category.DEFAULT"/>&ndash;&gt; -->
                <!-- <data android:mimeType="text/plain"/> -->
            </intent-filter>
        </activity>
        <activity android:name="com.rom471.main.HomeActivity" />
    </application>

</manifest>