<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rom471.lab1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DBTest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rom471.wjf.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- &lt;!&ndash;                <action android:name="android.intent.action.SEND"/>&ndash;&gt; -->
                <!-- &lt;!&ndash;                <category android:name="android.intent.category.DEFAULT"/>&ndash;&gt; -->
                <!-- <data android:mimeType="text/plain"/> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- &lt;!&ndash;                <action android:name="android.intent.action.SEND"/>&ndash;&gt; -->
                <!-- &lt;!&ndash;                <category android:name="android.intent.category.DEFAULT"/>&ndash;&gt; -->
                <!-- <data android:mimeType="text/plain"/> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/share_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>